.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    text-shadow: none;
    border-radius: 5px;
    margin-top: 20px;
    border: rgb(14, 14, 14) groove 3px;
    justify-content: space-around;
    max-width: 600px;
    font-size: medium;
   color:rgb(14, 14, 14)
    
}